 a.navbar-brand {
    color:#fff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.navbar-nav>li>a {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 20px;
}
nav {
    margin-bottom: 0;
    padding:30px;
    background-color: #0D4664 !important;
    border: none;
    border-radius: 0;
}
.contentSection {
    padding-top: 125px;
    padding-bottom: 125px;
}

ul {
    list-style-type: none;
}
.jumbotron {
    background-image: url(images/shutterstock_166776692.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 200px;
}
.underline{
    text-decoration: underline;
}
.lineup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#services H2 {
    font-family: 'Roboto', sans-serif;
    color: #0D4664;
}
#services ul li {
    font-family: 'Roboto', sans-serif;
    color:#0D4664;
    font-size: 20px;
}
#services h3 {
    font-family: 'Roboto', sans-serif;
    color: #0D4664;
}

.phoneContact {
    font-family: 'Roboto', sans-serif;
    padding-top:25px;
    font-size:25px;
}

a>#foxyform_embed_link_778166{
    color: transparent !important;
    width:0;
}
.foxy {
    width:100%;
}
.callAction {
    font-size: 25px;
    color: #0D4664;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}
.buttonStyle {
    background-color: #0D4664;
    color: #fff;
}
footer{
    font-family: 'Roboto', sans-serif;
    color:#fff;
    min-height: 100px;
    background-color:#0D4664;
}
.displayCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.displayCenterCol {
    display: flex;
    flex-direction: Column;
    align-items: center;
    justify-content: center;
}
.topBottom-15 {
    margin: 25px 0px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .jumbotron {
       height: 500px;
   }
 }